@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  background-color: #1d1d1b;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.p {
  text-transform: uppercase;
}

.btn {
  font-weight: bold;
}

.h1 {
  color: #f9cf25 !important;
  flex: auto;
  text-transform: uppercase;
}

#imageExcude {
  max-width: 450px;
  height: auto;
  padding: 25px;
  margin: 25px;
}

.fixed-bottom {
  color: white;
}
