@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  background-color: #1d1d1b;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.p {
  text-transform: uppercase;
}

#excuse {
  margin-top: 100px;
}

.btn {
  font-weight: bold;
  max-width: 600px;
  text-align: center;
}

.h1 {
  color: #f9cf25 !important;
  flex: auto;
  text-transform: uppercase;
}

#imageExcude {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fixed-bottom {
  color: white;
}
